.App {
  text-align: center;
  box-sizing: border-box;
}

.poolList {
  padding: 10px;
  font-family: 'Fira Sans', sans-serif;
}

.navHeader {
  padding: 0px;
}

.splitzieText {
  font-family: 'VT323', monospace;
  font-size: 1.4rem;
}

.active {
  background-color: hsla(0, 0%, 0%, 0.712) !important;
  color: #FDF85F !important;
}

.description {
  font-size: 10px;
  font-family: 'Fira Sans', sans-serif;

}

.welcome {
  padding: 10px;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'VT323', monospace;
}